<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-12 col-lg-10 px-5 px-sm-0 mx-auto">
    <h2>Follow User</h2>

<%= render 'follow_list', relationship: @followings %>

    </div>
  </div>
</div>
