<div id="post_raty"></div>

<script>
 let elem = document.querySelector('#post_raty');
  let opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: "<%= book.star %>",
    readOnly: true,
   };
  raty(elem,opt);
</script>
